       <mat-toolbar color="primary" style="position: fixed; top: 0;z-index: 999;box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);">
          <mat-toolbar-row>
            <button mat-icon-button class="navBtn" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <h1 style="margin-left: 5px;">SmartHome</h1>
            <span class="menu-spacer"></span>
       
          
         
          </mat-toolbar-row>
        </mat-toolbar>
       
        <mat-sidenav-container color="primary" hasBackdrop="false" autosize>
          <mat-sidenav class="sidenav " #sidenav mode="side" [opened]="true" disableClose="true" style="position: fixed; top: 0;z-index: 999;">
            <mat-nav-list  style="margin-top: 56px" class="sideList">
              <a mat-list-item [routerLink]="'/'" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Početna" style="margin-right: 15px;">home</mat-icon>
                Početna
              </a>
          
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <div style="margin: 1.5em;margin-top: 80px">
              <router-outlet></router-outlet>
            </div>
            <div></div>
          </mat-sidenav-content>
        </mat-sidenav-container>
