/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav {
    background-color: #3f51b5;
    color: white!important;
    min-width: 270px;
}

@media (max-width: 768px) {
    .sidenav {
        width: 100%;
    }
}

.navBtn {
    background-color: #3f51b5;
    color: white;
    border: none;
}

.mat-list-item-content {
    color: white;
}

.mat-tooltip {
    /* your own custom styles here */
    /* e.g. */
    background-color: #3f51b5;
    font-size: 0.8em;
    font-weight: bold;
}

input[type=number] {
    -moz-appearance: textfield;
}

.submitBtn {
    color: white!important;
}

.settingsForm {
    margin: 0 right;
}