<div class="home-wrapper" *ngIf="this.dataReady==1,else loading">
    <div class="row" *ngIf="homeData">

        <div class="current mat-elevation-z4 col-6 col-md-5 col-lg-3" style="vertical-align: middle;">
            <div class="row">
                <i class="fa fa-thermometer icon temp" style="font-size: 22px;"></i>
            </div>
            <span class="text humidity">{{homeData.temperature}}℃</span>
        </div>
        <div class="current mat-elevation-z4 col-6 col-md-5 col-lg-3" style="vertical-align: middle;" #tooltip="matTooltip" matTooltip="Displaying last recorded data from: {{homeData.dateTime}}" [matTooltipPosition]='"right"' matTooltipHideDelay="100">
            <div class="row">
                <mat-icon class="icon humidity">water_damage</mat-icon>
            </div>
            <span class="text temp">{{homeData.humidity}}%</span>
        </div>
    </div>
    <div class="row" *ngIf="dataReady;">
        <div style="margin-top: 1em;">
            <mat-form-field appearance="fill">
                <mat-label>Choose time period</mat-label>
                <mat-select [(ngModel)]="this.period" (ngModelChange)="periodChange()">
                    <mat-option [value]="0">
                        Today
                    </mat-option>
                    <mat-option [value]="1">
                        Last Hour
                    </mat-option>
                    <mat-option [value]="2">
                        Last Week
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z4 chart col-12" style="margin-top:1em">
            <app-chart [data]="temps" [hours]="hours" [name]="'TEMPERATURE'" [color]="'#ffab40'">

            </app-chart>

        </div>
        <div class="mat-elevation-z4 chart col-12" style="margin-top:1em">
            <app-chart [data]="hums" [hours]="hours" [name]="'HUMIDITY'" [color]="'#C21E56'">

            </app-chart>

        </div>

    </div>
</div>
<ng-template #loading>
    <div class="spinnerWrapper">
        <mat-progress-spinner class="spinner" color="accent" mode="indeterminate" diameter="120">
        </mat-progress-spinner>
    </div>

</ng-template>